<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Faça login em nossa plataforma</h1>
    <form action="{{url_for('login')}}" method="post">
        <input type="email" name="e_mail" id="i-email" placeholder="seu e-mail" required> <!--Este Email já precisa existir-->
        <input type="password" name="key_word" id="i-pass" placeholder="sua senha" required>
        <button type="submit">Enviar</button>
    </form>
     <div data-validacao="{{error|default('')}}" id="login-error"></div>
    <script src="../static/javascript/login.js"></script>
</body>
</html>